<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' - PeopleDesk'"></title>

    <link rel="stylesheet" data-th-href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body class="bg-white text-black dark:bg-gray-900 dark:text-white">

    <!-- User Navbar -->
    <div th:replace="~{user/user_navbar :: user_navbar}"></div>

    <div th:replace="~{user/sidebar :: sidebar}"></div>



    <!-- Page Content -->
    <div class="p-4 sm:ml-64">
        <div th:replace="${content}"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{/js/script.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/contact.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>