<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
  <link rel="stylesheet" data-th-href="@{/css/output.css}">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body class="bg-white text-black dark:bg-gray-900 dark:text-white">
 <!-- comman navbar -->
 <div data-th-replace="~{fragments/navbar :: navbar}"></div>

  <!-- dynamic content -->
  <div th:replace="${content}"></div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  <script data-th-src="@{'/js/script.js'}"></script>
</body>

</html>